html,
body {
  background-color: #ececec;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-bg-enter {
  opacity: 0;
}

.fade-bg-enter-active {
  opacity: 1;
  transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-bg-exit {
  opacity: 1;
}

.fade-bg-exit-active {
  opacity: 0;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
